@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Main flex-container, containing columns*/
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/*Header containing .headerlogo and ul*/
.header {
  display: flex;
  justify-content: space-between; 
  padding: 10px 250px 10px 250px;
  background-color: #1F2937;
}

/*Left side logotext in header*/
.headerlogo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

/*Right side links in header*/
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}

/*Right side links in header*/
a {
  text-decoration: none;
}

/*Right side links in header, infotext on the left in .first container*/
.infotext, a{
  font-size: 18px;
  color:#E5E7EB;
  }

/*First flex-container below header. Contains two other containers, left and right. */
.first {
    display: flex;
    justify-content: space-between; 
    background-color: #1F2937;
    padding: 120px 250px 120px 250px;
}

/*Contains mainlogo, infotext and buttoncontainer.*/
.left{
  flex: 1;
}

.mainlogo{
  font-size: 48px;
  color: #F9FAF8;
}

.infotext{
  padding-bottom: 20px;
  padding-right: 20px;
}
.buttoncontainer {
  padding-bottom: 40px;
}

button {
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  background:  #3882F6;
  padding: 8px 16px;
}

/*Container for image on right side of hero*/
.right{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
/*Image in hero*/
.heroimg{
  width: auto;
  height: 450px;
}

/*Header separating .first and .second-containers*/
.mainheading{
  font-size: 36px;
  text-align: center;
  color: #1F2937;
  padding-top: 60px;
  font-weight: 900;
}

/*Second main flex-container. Contains imagecontainer*/
.second{
  display: flex;
  justify-content: center;
  gap: 52px;
  padding: 60px 250px 60px 250px;
  flex-wrap: wrap;
  }

/*Contains images and texts*/
.imagecontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  /*fixa wrap*/
}

.img{
    width: auto;
    height: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.imagetext{
  max-width: 200px;
  padding: 20px 0px 20px 0px;
}

/*Third flex-container. Contains quote and quoteauthor.*/
.third {
  background-color: #E5E7EB;
  display: flex;
  align-items: center;
  padding: 60px;
  flex-direction: column;
}

/*skriv padding på samma rad*/
.quote {
  padding-left: 350px;
  padding-right: 350px;
  font-size: 36px;
  font-style: italic;
}

/*eventuell fullösning?*/
.quoteauthor {
font-size: 24px;
font-weight: 600;
margin-left: auto;
padding: 10px 350px 0px 0px;
}


/*Fourth flex-container containing calltoaction*/
.fourth{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 250px 100px 250px;
}

/*flexcontainer containing heading, text and button*/
.calltoaction{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background-color: #3882F6;
  color: white;
  padding: 30px 150px 30px 150px;
}

#actionbutton{
  border: 2px solid white
}

/*wtf*/
h1{
  margin: 0;
}

/*Footer containing copyright claim*/
.footer {
  display: flex;
  justify-content:space-around;
  padding: 16px;
  background-color: #1F2937;
  color: #F9FAF8;
}

