@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

.buttoncontainer {
  padding-bottom: 40px;
}

.image{
  background-color:#E5E7EB;
  display: flex;
  flex: 1;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.introdiv{
  flex: 1;
}

.heromaintext{
  font-size: 48px;
  color: #F9FAF8;
  font-weight: extra-bold;

}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px;
  padding-left: 180px;
  padding-right: 180px;
  background-color: #1F2937;
}

.first {
  display: flex;
  justify-content: space-between; 
  background-color: #1F2937;
  padding: 120px 180px 120px 180px;
}

.infotext{
    padding-bottom: 20px;
    padding-right: 20px;
  }

  .infotext, a{
  font-size: 18px;
  color:#E5E7EB;
  }
  a {
    text-decoration: none;
  }

.headerlogo {
  font-size: 24px;
  color: #F9FAF8;
}


.heading2{
  font-size: 50px;
  text-align: center;
  padding: 30px;
  font-weight: 400px;
}

  .second{
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 60px;
    }

  .third{
    background-color:#E5E7EB;
    display: flex;
    align-items: center;
    padding: 60px;
    flex-direction: column;
  }

  .quote{
    max-width: 1000px;
    font-size: 36px;
    font-style:light italic;
  }



h1{
  margin: 0;
}


.footer {
  display: flex;
  justify-content:space-around;
  padding: 16px;
  background-color: #1F2937;

}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}

.img{
  width: auto;
  height: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}